<header class="jumbotron p-3 mt-3">
    <h1>Shopping Cart</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- routeLink possibilita abrir o link sem fazer o reload da pagina -->
          <a routerLink="/shopping-list" class="nav-item">My Shopping Cart</a>
        </li>
        <li class="navitem">
          <a routerLink="/about" class="nav-item">About</a>
        </li>
      </ul>
    </nav>
  </header>